<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
<connectionStrings>
  <add name="CS" connectionString="Data Source=(local);Initial Catalog=CPMS;Integrated Security=True" providerName="System.Data.SqlClient"/>
</connectionStrings>
</configuration>